 1 问题描述
  已知某电影院有5个放映厅，请模拟实现电影放映排片和观众购票。系统要求对文件中所存储的票务信息进行各种常规操作，如：查询、计算、显示等功能。通过此课题，熟练掌握文件、数组、指针的各种操作，以及一些算法思想的应用。
2 功能要求
（1）角色：系统设置管理员和普通观众
（2）管理员功能如下
A．根据密码登录，对每个放映厅进行第二天的排片工作。
B．统计某部电影当天的票款。
C．对当天的票房进行排序。
（3）用户的功能：
A．注册，
B．以密码登录后，可以浏览排片信息
C．查看每个放映厅的售票情况，如：

□□□□□□□□□□
□□□□□□□□□□
    □□□●●□□□
    □□□●●●□□
□□□□□●●●       ●已售出  □待售
             选座购票，售出的位置变更图案。

售票和退票：合理进行售票和退票，自动更新余票数量；
（4）提供菜单选择项，如角色选择、时间选择、功能选择等

选做要求：
（1）对用户的输入进行一定的正确性检查。
（2）用户可以查看历史购票记录。
3 其他要求
（1）界面美观，交互方便。
（2）注释详细：每个变量都要求有注释说明用途；函数有注释说明功能，对参数、返回值也要以注释的形式说明用途；关键的语句段要求有注—释解释。
（3）程序的层次清晰，可读性强。
（4）变量、函数命名符合规范。
（5）如有可能，可使用MFC 等开发工具，实现彩色或图形操作界面。
4 开发环境
可以选择TC2.0、TC3.0、VC++6.0等开发环境，或者与老师讨论，选择自己熟悉的开发工具与平台。


